#-----------------#
# DATABASE SETUP  #
#-----------------#
DB_AUTH=admin
DB_USER=root
DB_PASS=root
DB_HOST=27017
DB_PORT=localhost
DB_NAME=msavengers

#-----------------#
# MARVEL API INFO #
#-----------------#
API_PUBLIC_KEY=<your public key>
API_PRIVATE_KEY=<your private key>