#-----------------#
# DATABASE SETUP  #
#-----------------#
DB_AUTH=admin
DB_USER=root
# Use mongo(docker-compose) or localhost(external)
DB_PASS=root
DB_HOST=mongo
DB_PORT=27017
DB_NAME=msavengers

#-----------------#
# MARVEL API INFO #
#-----------------#
API_PUBLIC_KEY=<your public key>
API_PRIVATE_KEY=<your private key>